{% extends 'base.html.twig' %}

{% block body %}
    <div class="container h-100">
        <div class="row justify-content-md-center align-items-center h-100">
            <img src="https://img.icons8.com/pastel-glyph/2x/search.png">
        </div>
        {% if error %}
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-md-center align-items-center h-100">
                <form method="post" action="{{ path('search_index') }}">
                    <div class="form-group">
                        <input type="search" class="form-control mx-auto" name="search" id="search"/>
                        <button type="submit" class="btn btn-outline-primary px-md-4 mt-2 ml-5">Search</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}
